*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 207, 156);
}


.container{
    width: 90%;
    margin: 0 auto;
}

.container nav{
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}
.logo{
    text-transform: capitalize;
    font-size: 30px;
    text-decoration: underline;
}
.nav-items{
    display: flex;
    list-style: none;
    gap: 100px;
}
.nav-items li{
    text-transform: capitalize;
    font-weight: bold;
    transition: text-decoration .4s;
}
.nav-items li:hover{
    text-decoration: underline;
}

.login-btn{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
    padding: 15px 35px;
    border: 2px solid black;
    border-radius: 30px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}



/* users section */
.users{
    margin-top: 60px;
}
.users h1{
    text-transform: capitalize;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 25px;
    text-decoration: underline;
}
.users-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.item{
    min-width: 100%;
    background-color: white;
    border-radius: 10px;
    height: auto;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item h3{
    margin-bottom: 25px;
    text-transform: capitalize;
    text-decoration: underline;
}
.user-info{
    max-width: 100%;
    color: grey;
}
.user-info p{
    transition: all .4s;
    scale: .8;
    transform-origin: left;
    max-width: fit-content;
}
.user-info:hover p{
    scale: 1;
}
.item button{
    margin: 20px auto 0;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    transition: all .4s;
}
.item button:hover{
    background-color: black;
    color: white;
}

/* add post */
.add-post{
    margin: 50px auto 100px ;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: fit-content;
    padding: 30px;
    border-radius: 0 20px 20px;
    box-shadow: 0 0 40px 0 black;
}
.add-post h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.add-post form{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.add-post form input{
    padding: 5px;
    width: 250px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}
.add-post form label{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: bold;
}
.add-post form label textarea{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    max-width: 250px;
    min-width: 250px;
}
.add-post form button{
    margin: 0 auto;
    border-radius: 30px;
    border: 2px solid black;
    background-color: transparent;
    font-size: 14px;
    padding: 10px 20px;
}

.gallery h1{
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}
#img-container{
    margin-bottom: 50px;
    display: flex;
    overflow: auto;
    position: relative;
}
#img-container img{
    max-width: 200px;
    max-height: 200px;
}
#img-container::-webkit-scrollbar{
    width: 0px;
}









